
@tailwind  base;
@tailwind components;
@tailwind utilities;






 .no-scrollbar{
    -ms-overflow-style:none;
    scrollbar-width:none
 }
.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  #textItemDesc{
   display:-webkit-box;
   -webkit-box-orient :vertical;
   -webkit-line-clamp:2;
   overflow:hidden;
   text-overflow:ellipsis

  }


  .scroller{
    max-width:800px;
    display:flex;
    outline: 3px solid green; 
  }
  .scroller_inner{
    display:flex;
    gap:2rem;
    padding-block:1rem;
    flex-wrap:wrap

  }



@keyframes scroll {
    to{
        transform : translate(calc(-50% - 0.5rem))
    }
}


.no-Scrollbar::-webkit-scrollbar{
    display:none
}
.no-Scrollbar{
    -ms-overflow-style:none;
    scrollbar-width:none
}
